@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* font-family: 'Droid Sans', sans-serif; */
body {
  font-family: 'Droid Sans', sans-serif;
  background-color: #e4e6e5;
  width: 960px;
}

/* footer Ali*/
footer
{
  width:964;
  height: 256px;

  background-color: #e4e6e5;

}
div
{
  width: 218px;
  height: 216px;

}
div img
{
  height: 136px;
  width: 218px;
}

.container div
{
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

span
{
  font-size: 10px;
  color: rgb(46,160,138);
}
/* End Ali footer*/