@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
.content .picture {
  float: left; }
  .content .picture p em {
    color: #2ea08a; }
.content .pies {
  float: left;
  margin: 0 30px; }
.content table {
  font-size: .75em; }
  .content table th {
    font-weight: normal;
    text-align: left;
    padding-bottom: 20px; }
  .content table tr:not(:first-child) {
    border-top: 1px solid lightgray; }
  .content table td {
    padding: 0 70px 0 0; }
    .content table td:last-child {
      padding-right: 0; }
  .content table ul {
    padding: 0; }
  .content table li {
    display: inline-block;
    list-style: none;
    margin-left: 1px;
    width: 16px;
    height: 16px;
    line-height: 17px;
    text-align: center;
    font-size: .8em;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .content table li:nth-child(1) {
      background-color: #e56a50; }
    .content table li:nth-child(2) {
      background-color: #eed077; }
    .content table li:nth-child(3) {
      background-color: #2ea08a; }
    .content table li:nth-child(4) {
      background-color: #009aa9; }
.content .legend li {
  float: left;
  margin-right: 4em;
  color: #aaaaaa;
  font-size: .65em;
  list-style: none; }
  .content .legend li.red:before {
    /* Unicode large bullet symbol */
    content: '\2B24 ';
    /* Bullet color and size */
    color: #e56a50;
    padding-right: 0.5em;
    font-size: 1em; }
  .content .legend li.yellow:before {
    /* Unicode large bullet symbol */
    content: '\2B24 ';
    /* Bullet color and size */
    color: #eed077;
    padding-right: 0.5em;
    font-size: 1em; }
  .content .legend li.green:before {
    /* Unicode large bullet symbol */
    content: '\2B24 ';
    /* Bullet color and size */
    color: #2ea08a;
    padding-right: 0.5em;
    font-size: 1em; }
  .content .legend li.blue:before {
    /* Unicode large bullet symbol */
    content: '\2B24 ';
    /* Bullet color and size */
    color: #009aa9;
    padding-right: 0.5em;
    font-size: 1em; }

body {
  font-family: 'Droid Sans', sans-serif;
  background-color: #e4e6e5; }
