@mixin colorbullet($color) {
  /* Unicode large bullet symbol */
  content: '\2B24 ';
  /* Bullet color and size */
  color: $color;
  padding-right: 0.5em;
  font-size: 1em;
}


.content {

  .picture {

    p em {
      color: $green;
    }

    float: left;
  }

  .pies {
    float: left;
    margin: 0 30px;
  }

  table {
    font-size: .75em;

    th {
      font-weight: normal;
      text-align: left;
      padding-bottom: 20px;
    }
    tr:not(:first-child) {
      border-top: 1px solid $gray;
    }
    td {
      padding: 10px 70px 10px 0;
    }
    li {
      float: left;
      list-style: none;
      background-color: white;
      margin-left: 5px;

    }
  }




  .legend li {
    float: left;
    margin-right: 4em;
    color: $gray;
    font-size: .65em;
    list-style: none;

    &.red {
      &:before {
        @include colorbullet($red)
      }
    }

    &.yellow {
      &:before {
        @include colorbullet($yellow)
      }
    }
    
    &.green {
      &:before {
        @include colorbullet($green)
      }
    }

    &.blue {
      &:before {
        @include colorbullet($blue)
      }
    }

  }

}
