/* footer Ali*/
footer
{
  width: 1184px;
  height: 256px;
  margin: auto;
  background-color: #e4e6e5;
  padding-top: 40px;
  div
  {
    width: 218px;
    height: 216px;

  }
  div img
  {
    height: 136px*1.25;
    width: 218px*1.25;
  }

  .container div
  {
    float: left;
    margin-top: 20px;
    margin-right: 78px;

    &:last-child{
      margin-right: 0; 
    }
  }

  span
  {
    font-size: 10px;
    color: rgb(46,160,138);
  }
  /* End Ali footer*/


}
