@import "colors";
@import "content";
@import "fonts";
@import "footer";
@import "header";
@import "nav";

body {
  font-family: 'Droid Sans', sans-serif;
  background-color: rgb(228,230,229);
  width: 1182px;
  margin: auto;
}
